<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/CreativeWork">
  
  <div class="title">
      <i class="fa fa-file-text-o pub-icon" aria-hidden="true"></i> 
      {{ .Title }}
  </div>
  <div class="pub-authors">
    {{ with .Params.authors }}
      {{- delimit . ", " | markdownify -}}
    {{- end -}}
  </div>
  <div class="pub-publication">
    {{ .Params.publication | markdownify }},
    {{ .Date.Format "2006" }}
  </div>
  <div>
    <a class="btn btn-primary btn-outline btn-xs" href="{{ .Permalink }}" target="_blank" rel="noopener"> Details </a>
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
